@model BlogHost.ViewModels.LoginViewModel

@{ ViewData["Title"] = "Login"; }
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        html {
            font-size: 100%;
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        body,
        a,
        button,
        input {
            font-family: 'Montserrat', sans-serif;
            color: #fff;
            font-weight: 400;
            font-size: 0.938rem;
            line-height: 1.15;
        }

        body {
            position: relative;
            background: url("https://image.ibb.co/jGk9RR/bg.jpg") no-repeat center fixed;
            background-size: 100% 100%;
            overflow-y: auto;
        }

        media screen and (min-width: 768px) {
            body

        {
            min-height: 100%;
            height: auto;
            max-height: auto;
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            overflow-y: visible;
        }

        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        button {
            padding: 0;
            border: none;
            background: none;
            cursor: pointer;
        }

            button:active, button:hover {
                outline: 0;
            }

        a {
            text-decoration: none;
            cursor: pointer;
        }

            a:active, a:hover {
                outline: 0;
            }

        .panel_blur,
        .panel {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        media screen and (min-width: 768px) {
            .panel_blur, .panel

        {
            width: 350px;
            height: 500px;
            overflow-y: visible;
        }

        }



        /**
        * Panel
        */
        .panel {
            position: relative;
            z-index: 1;
        }

        .panel__register-form, .panel__password-form {
            display: none;
        }

            .panel__register-form .form__submit {
                margin-top: 5px !important;
            }

        .panel__form-wrapper {
            width: 100%;
            height: 100%;
            padding: 10%;
            background-color: rgba(0, 0, 0, 0.5);
            overflow-y: auto;
        }

        media screen and (min-width: 768px) {
            .panel__form-wrapper

        {
            padding: 10% 15%;
            border-radius: 10px;
            overflow-y: visible;
        }

        }

        .panel__prev-btn {
            width: 24px;
            height: 24px;
            background: none;
            padding: 0;
        }

            .panel__prev-btn svg {
                -webkit-transition: fill 0.3s;
                transition: fill 0.3s;
            }

            .panel__prev-btn:hover > svg {
                fill: #ff1552;
            }

        .panel__headers {
            padding: 10px 0;
            text-align: center;
        }

        .panel__header {
            font-size: 1.375rem;
        }

            .panel__header:first-child {
                padding-bottom: 5px;
            }

            .panel__header.active > .panel__link {
                color: #ff1552;
                font-size: 3rem;
            }

        .panel__link {
            color: inherit;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            font-weight: 600;
        }

        .form__row {
            position: relative;
            padding-top: 40px;
        }

            .form__row.has-error > .form__error:after {
                display: block;
            }

        .form__input {
            width: 100%;
            padding: 5px 0;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            background: none;
        }

            .form__input:focus, .form__input:active {
                outline: 0;
            }

                .form__input:focus ~ .form__label, .form__input:active ~ .form__label, .form__input:valid ~ .form__label {
                    bottom: 30px;
                    font-size: 0.75rem;
                }

                .form__input:focus ~ .form__bar, .form__input:active ~ .form__bar {
                    left: 0;
                    right: 0;
                    width: 100%;
                }

        .form__bar {
            position: absolute;
            bottom: 0;
            left: 50%;
            right: 50%;
            display: block;
            width: 0;
            height: 2px;
            background-color: #ff1552;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .form__label {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            pointer-events: none;
        }

        .form__submit {
            width: 100%;
            padding: 10px 0;
            margin-top: 30px;
            border: none;
            border-radius: 10px;
            font-weight: 600;
            background-color: #ff1552;
            cursor: pointer;
        }
    </style>


    <meta charset="UTF-8">
    <title>CodePen - Material Design Login and Registration Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,600">
    <link rel="stylesheet" href="./style.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/security.js"></script>
</head>

<div class="form-signin">
    <div class="panel__form-wrapper">


        <h1 class="h2 mb-3 font-weight-normal">Вход в приложение</h1>
        <form class="form panel__login-form has-validation-callback" method="post" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="UserName" class="text-white"></label>
                <input asp-for="UserName" class="form__input " />
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password" class="text-white"></label>
                <input asp-for="Password" class="form__input" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label><br />
                <input asp-for="RememberMe" />
            </div>
            <div class="form__row">
                <input type="submit" class="form__submit" value="Войти" />
            </div>
            <div>
                <a class="text-white" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
            </div>
        </form>
    </div>


</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="./script.js"></script>
